@CHARSET "UTF-8";
.body_index{
	background: url("../picture/1.jpg") no-repeat;
	
}

.fieldset_index{
	width: 300px; 
	height: 150px;
}
.fieldset_index label{
	width: 100px;
	text-align: left;
}

.errorMessage {
	color: red;
	font-size: 12px;
}